body{
    
    background-image: url("https://images.unsplash.com/photo-1615309662472-4ca77a77a189?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c29mdHdhcmUlMjBkZXZlbG9wbWVudCUyMGdyZXl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;

}
.wrap{
 display: flex;
}
.wrap h4{
    color: aliceblue;
    margin-top: 2%;
    margin-left: 2%;
}
.navigationn{
    padding-left: 40%;
    margin-top: 2%;
    
}
.navigationn a{
    color: aliceblue;
}
.bodybox{
    margin-left: 40%;
    margin-top: 5%;
    color: azure;
}
img{
    float: left;
    height: 55vh;
    width: 30vw;
    margin-top: 6%;
    margin-left: 3%;
    border-radius: 50%;

}
.wrap a img{
    border-radius: 25%;
    width: 5vw;
    height: 10vh;
}
h3{
    color: darkcyan;
}
.about h3{
    color: darkcyan;
    font-size: small;
}
.about p{
    font-size: large;
    color: rgb(240, 251, 255);
}
.about em{
    font-family: fantasy;
    color:rgb(21, 0, 139);
}
footer{
    color:rgb(0, 255, 221);
}
.footeritems{
    text-align: center;
}
/* footer{
    margin-left: 2%;
} */
/* .about{
    color: azure;
    margin-top: 20%;
   border: 20px solid red;
   width: 50%;
   margin-left: 40%;
} */

/* .img1{
    display: flex;
    color: blanchedalmond;
}
.img1 img{
    float: left;
    height: 55vh;
    width: 30vw;
    margin-top: 6%;
    margin-left: 3%;
    border-radius: 50%;

}
.img1 p{
    margin-top: 10%;

} */
